.container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    margin-bottom: 2rem;
}
