$monserrat: 'Montserrat', sans-serif;
$fun: 'Nothing You Could Do', cursive;


h1 {
    font-size: 6rem;
    line-height: 7.5rem;
    font-family: $monserrat;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: $monserrat;
    span {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: $monserrat;
}

.bold-small {
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: $monserrat;
}

.sub {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: $monserrat;
}

blockquote {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: $monserrat;
}

p, a, li, cite {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $monserrat;
}

p {
    margin-bottom: 1.5rem; 
}

a.button {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $monserrat;
}

a.link {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $monserrat;
}

.fun {
    font-family: $fun;
}

.logo {
    font-family: $monserrat;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}