.prices {
    &__wrapper {
        display: flex;
    }
    &__images {
        padding: 0.5rem;
        flex: 1;
        gap: .5rem;
        display: flex;
        flex-direction: column;
        >div {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__info {
        flex: 3;
        padding: 2rem;
    }
    &__table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        .price-item {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 0.5rem;
            span {
                flex: auto;
                border-bottom: dotted 1px lightgray;
            }
        }
    }
    &__footer {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-top: 5rem;
    }
    

}